body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    margin-top: 50px; /* Move o quadrado um pouco mais para baixo */
}

.content-box {
    background-color: #111;
    padding: 30px; /* Aumenta o padding do quadrado */
    border-radius: 10px;
    border-top: 8px solid #7fff7f; /* Aumenta a borda superior */
    border-bottom: 8px solid #7fff7f; /* Aumenta a borda inferior */
}

h1 {
    font-size: 1.5em; /* Reduz o tamanho do texto do título */
    margin: 0;
    color: #7fff7f;
}

.highlighted-text {
    color: #ff7f7f;
}

.split-lists {
    display: flex;
    justify-content: space-between;
}

.list-items {
    list-style: none;
    padding: 0;
    text-align: left;
    flex-basis: 48%;
}

.list-items.left {
    margin-right: 10px;
}

.list-items.right {
    margin-left: 10px;
}

.list-items li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: #7f7fff;
}

.check-mark {
    width: 20px;
    display: inline-block;
}

/* Restante do seu CSS */

.centered-list {
    text-align: center;
    margin-bottom: 20px; /* Ajuste o espaçamento inferior conforme necessário */
}

.centered-list p {
    margin-bottom: 5px;
    color: #ff7f7f; /* Cor do texto destacado */
}

.centered-list ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

.centered-list li {
    display: inline-block;
    margin: 5px 10px; /* Ajuste o espaçamento entre os itens conforme necessário */
    color: #7f7fff; /* Cor do texto dos itens */
}

.whatsapp-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #7f7fff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color:  #7676fc;
    
}
